.body {
  /* align-items: center; */
  /* justify-content: center; */
  /* min-height: 100vh; */
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 15%;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
